@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro);

* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

:root {
    font-size: 62.5%;
}

button {
    font: inherit;
}

.container {
    background: #38E780;
    background: -webkit-linear-gradient(top left, hsl(145, 78%, 50%), #D53BA3);
    background: -moz-linear-gradient(top left, #38E780, #D53BA3);
    background: linear-gradient(to bottom right, #38E780, #D53BA3);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.2rem;
}

#beep {
    width: 0;
    height: 0;
    position: absolute;
}

.timer-container {
    background-color: hsl(180, 0%, 22%);
    width: 75%;
    height: 80%;
    padding: 2%;
    border-radius: 80px;
    display: grid;
    grid-row-gap: 2rem;
    box-shadow: 0px 0px 40px hsl(180, 0%, 20%);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
}

#time-left {
    font-size: 20rem;
    grid-column: 3/5;
    grid-row: 2/4;
    align-self: center;
    justify-self: center;
}

#start_stop {
    grid-column: 3;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}

#reset {
    grid-column: 4;
    grid-row: 4;
}

.main-controls {
    align-self: center;
    justify-self: center;
    width: 95%;
    padding: 2rem;
    background-color: hsl(248, 39%, 79%);
    border: 2px solid black;
}
.main-controls:hover {
    background-color: hsl(248, 39%, 60%);
    transition: background-color 200ms linear;
}
.main-controls:active {
    background-color: hsl(248, 39%, 50%);
}